/* Use your own code or past solution for Great Idea Web Page CSS here! */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* Your code starts here! */

body {
	background-color: #f9f7f7 ;
	background-image: url(../img/backg.png);
	background-repeat: repeat;
}


.container {
	width: 1024px;
	margin: 0 auto 20px;;
	background-color: white;
	padding: 20px;
}

.container-two {
	width: 1024px;
	margin: 0 auto 20px;;
	background-color: white;
	padding: 20px;
	box-shadow: 0 2px 2px 0 #D6D6D6;
}

/* navigation */

/* .fixed-menu {
	width: 100%;
    height: 50px;
    position: fixed;
	top: 0;
	background-color: white;
	border-bottom: 2px solid black; 
} */

.top-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 50px;
    margin: 0 auto;
}

.nav-bar {
	
	align-self: center;
}


.top-navigation nav ul {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-evenly;
}


.top-navigation nav ul li a {
	text-decoration: none;
	color: #636363;
	padding: 10px 20px;
	
}

.top-navigation nav ul li a:hover {
	border-bottom: 2px solid #636363;
}

.top-navigation .top-logo {
	width: 184px;
	text-align: right;
}

.top-navigation .logo {
	max-width: 185px;
	margin-top: 5px;
}

/* end navigation */

/* header */

header {
    display: flex;
    flex-wrap: wrap;
	margin: 70px auto; 
}


.header-title  {
	width: 450px;
	left: 0;
	text-align: center
}

.header-title h1 {
	margin-top: 50px;
	font-size: 72px;
}

.header-title button {
	background-color: white;
	border: 1px solid black;
	padding: 6px 43px;
    margin-top: 20px;
    font-size: 16px;
   
}

.header-image {
	width: 450px;
	text-align: center
}

.header-image img {
	max-width: 350px;
	height: auto;
}

/* about header */

.about-header {
	background-image: url(../img/landscape.jpg);
	background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
	padding-top: 150px;
	width: 100%;
}

.about-header h1 {
	color:black;
	font-size: 72px;
    width: 600px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
	background-color:rgba(255, 255, 255, 0.6);
	border-bottom: 2px solid #636363;
}

/* services header */

.header-services img {
	width: 100%;
	height: auto;
}

.header-services figcaption {
	margin-top: 50px;
}

.header-services figcaption h1 {
	font-size: 25px;
}

/* end header */


/* contact header */

.contact-header {
	background-image: url(../img/businessman.jpg); /* fallback for older browsers */
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url(../img/businessman.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: bottom;
    height: 500px;
	padding-top: 150px;
	width: 100%;
}

.contact-header h1 {
	color:white;
	font-size: 72px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
	/* background-color:rgba(255, 255, 255, 0.6); */
	
}


/* main */

main {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding: 30px 0;
	margin-bottom: 20px;
}

.main-top {
    display: flex;
    flex-wrap: wrap;
}

.box-top {
    width: 50%;
    padding: 10px;
    line-height: 18px;
}


.main-img {
	margin: 20px 0;
}

.middle-img {
	width: 100%;
	height: auto;
}

.main-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-bottom {
    padding: 10px;
    line-height: 18px;
    font-size: 16px;
}

.box-bottom-about {
	padding: 10px;
}

.box-bottom-about h2 {
	text-align: center;
}

.box-bottom-about hr {
	width: 50%;
	margin-bottom: 20px;
	left: 0;
}

/* about page */
.main-top-about {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}



.box-top-about {
	margin: 35px 0px;
    width: 48%;
	box-shadow: 0 2px 2px 0 #D6D6D6;
}


.box-top-about h2 {
	background-color: #636363;
	padding: 5px;
	color: white;
	text-align: center;
}

.box-top-about i {
	font-size: 20px;
	text-align: center;
	color: white;
	margin: 0 auto;
}

.box-top-about p {
	padding: 20px;
}

.more-content {
	margin-top: 50px;
	text-align: center;
	color: #636363;
	font-size: 72px;
	flex-grow: 3;

}

.more-content h2 {
	font-size: 25px;
}

hr {
	background: #636363;

}

/* main services */

.main-services {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.main-services .box-services {
	width: 45%;
	margin: 20px;
	padding: 20px;
	background-color: #f4f3f4;
	border: 1px solid black;
}

.main-services .box-services h2 {
	font-weight: 700;
	font-size: 18px;
}
.main-services .box-services button {
	display: block;
	margin-top: 20px;
	background-color: white;
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px 15px;
	cursor: pointer;
}

/* Contact page */

.main-contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: #00F260;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.box-contact {
	width: 50%;
	
}

.sm-logos {
	text-align: center;
	font-size: 20px;
	line-height: 30px;
}

.sm-logos i {
	color: white;
	font-size: 35px;
	margin-bottom: 20px;
}

.sm-icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.sm-icons i {
	margin: 20px 5px;
	transition: all .2s ease-in-out;
	cursor: pointer;
}

.sm-icons i:hover {
	transform: scale(1.5);
}

.box-contact a {
	text-decoration: none;
	color: white;
}

.box-contact form {
	width: 100%;
	padding: 20px;

	
}

.box-contact form label {
	width: 100%;
	display: block;
	color: white;
	font-size: 18px;
}

.box-contact form input {
	width: 100%;
	display: block;
	margin: 10px 0;
	padding: 20px 10px;
	border: 1px solid #636363;
	font-size: 20px;
}

.box-contact form textarea {
	width: 100%;
	height: 250px;
	display: block;
	margin: 10px 0;
	padding: 20px 10px;
	border: 1px solid #636363;
	font-size: 20px;
}

.form-button {
	background-color: white;
	border: 1px solid #636363;
}

/* end main */

/* footer */

footer {
	margin-top: 50px;

}

footer address a {
	margin-bottom: 15px;
	display: block;
	font-size: 16px;;
	text-decoration: none;
	color: black; 
}

footer h6 {
	text-align: center;
	margin: 40px 0;
}


.footer-about {
	text-align: center;
	background-color: lightgray;
	padding: 50px 0;
} 

.footer-about address {
	padding-bottom: 50px;
}


.footer-services {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.footer-services section {
	width: 50%;
	padding-right: 30px; 
}

.footer-services section ul {
	margin-top: 50px;
	list-style-type: square;
	list-style-position: inside;
}

.footer-services section ul li {
	line-height: 2;
}

.footer-services aside {
	width: 50%;
}

.footer-services aside img {
	width: 100%;
}

/* end footer */

@media all and (max-width: 800px) {
    .container {
        width: 100%;
        padding: 20px;
    }

    .nav-bar {
        margin: 19px auto;
        order: 2;
    }

    .top-navigation nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .top-logo {
        order: 1;
        margin: 0 auto;
    }

    .logo {
        width: 185px;
        margin-top: 10px;
    }

    .top-navigation .nav-bar, .top-navigation .logo {
        width: 100%;
        text-align: center;
        justify-content: space-between;

    }

    header {
        justify-content: center;
    }

    .header-image {
        display: none;

    }

    .header-title button {
        margin-top: 10px;
        font-size: 1rem;
    }

    
    .main-img {
        margin: 20px 0;
    }
    
    .box-bottom {
        width: 253px;
        padding: 8px 30px 5px 9px;
    }

    footer {
        margin-top: 35px;
    }

    footer address {
        padding: 0 34px 0 10px;
        line-height: 16px;
        
    }
}


@media all and ( max-width: 500px) {
    
    .container {
        padding: 0;
    }

    .top-logo {
        margin-top: 20px;
    }

    .nav-bar {
        margin: 9px auto;
    }

    .top-navigation nav ul {
        flex-direction: column;
    }

    .top-navigation nav ul li {
        border-left: none;
        border-right: none;
        border: 1px solid black;
        padding: 20px 0;
        line-height: 17px;
    }

    .top-navigation nav ul li a {
        font-size: 20px;
    }

    header {
        margin: 70px auto 75px;
    }


    .header-title {
        margin-top: 328px;
    }

    main {
        padding: 60px 20px 0px;
    }

    .box-top {
        width: 100%;
        padding: 0;
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 46px;
    }

    .box-top p {
        line-height: 18px;
    }

    .main-img {
        margin: 7px 0;
    }

    .box-bottom {
        width: 100%;
        padding: 0;
        margin: 21px 0 41px;
    }

    .box-bottom:last-child {
        margin: 21px 0 36px; 
    }

    footer address {
        padding-left: 20px;
    }


}